.about-component {
  .about-info {
    padding: 10px;
    h1 {
      text-align: center;
      color: $primary;
    }
  }
  .team-info {
    padding: 10px;
  }
  h1,
  h3 {
    text-align: center;
    color: $primary;
  }
}
