.about-component {
  .about-info {
    padding: 10px;
    h1 {
      text-align: center;
      color: #b38a4c;
    }
    .info {
      display: inline-flex;
      align-items: stretch;
    }
  }
  .team-info {
    padding: 10px;
  }
  h1,
  h3 {
    text-align: center;
    color: #b38a4c;
  }
}
