.about-component {
  $break: 769px;
@mixin medium-bp {
  @media (min-width: #{$break}) {
    @content;
  }
}
  .description {
    text-align: center;
    padding: 10px;
  }
  .about-info {
    padding: 10px;
  }
  .team-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .profile {
      .description {
        background: #e8e8e87a;
      }
      padding: 10px;

      @include medium-bp() {
        width: 50%;
      }
      @include desktop() {
        width: 50%;
      }
      @include fullhd() {
        width: 33%;
      }
    }
  }
}
