.price-component {
  .main-content{
    padding: 10px;
  }
  .main-guide {
    padding: 10px;
    h3 {
      margin: 20px 0 5px 0;

      @include mobile(){
        margin: 5px 0;
      }
    }
    .item-list{
      text-align: center;
    }
  }
  .factor-title{
    color: $primary;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
  }
}
