.services-component {
  .services-content {
    h1 {
      color: #b38a4c;
      text-align: center;
      padding: 10px;
    }
    .top, .bottom {
      h3 {
        color: #b38a4c;
        padding: 10px;
        text-align: center;
      }
    }
  }
}
