.services-component {
  .services-content {
    h1 {
      color: $primary;
      text-align: center;
      padding: 10px;
    }
    .top,
    .bottom {
      h3 {
        color: $primary;
        padding: 10px;
        text-align: center;
      }
    }
  }
}
