.menu-nav-component {
  display: flex;
  justify-content: center;
  .menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include mobile() {
      flex-direction: column;
      align-items: center;
      background: #f7f7f7;
      width: 100%;
    }
    .nav-list {
      list-style: none;
      padding: 10px;

      @include desktop() {
        padding: 10px 25px;
      }
      .nav-link {
        text-decoration: none;
        color: black;

        @include mobile() {
          color: black;
          justify-content: center;
          text-transform: uppercase;
        }
      }
      .nav-link:hover {
        @include mobile() {
          background: rgba(241, 239, 239, 0.858);
          color: grey;
          font-weight: bold;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}
