.menu-nav-component{
  display: flex;
  justify-content: center;

  .menu {
    display: flex;

    @include mobile() {
      flex-direction: column;
      align-items: center;
      background: #f9f6f5;
      width: 100%;
    }
  }

  .nav-list {
    list-style: none;
    padding: 10px;
    

    @include desktop (){
      padding: 10px 25px;
    }

    .nav-link {
      text-decoration: none;
      color: black;
      

      @include mobile() {
        color: black;
        justify-content: center;
        text-transform: uppercase;
      }
    }
  }
}
