.contact-component {
  .contact-details {
    h1 {
      color: $primary;
      text-align: center;
      padding: 10px;
    }
    .address {
      text-align: center;
      padding: 10px;
      font-weight: bold;
    }
  }
  .contact-form {
    margin:0 5px;  
    .submit-button {
      display: flex;
      justify-content: center;
    }
    .button {
      background: #d3d3d3;
      border: 1px solid #b5b5b5;
      margin: 10px 20px;
    }
  }
}
