.contact-component {
  padding: 10px;
  .contact-details {
    .address {
      text-align: center;
      padding: 10px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .contact-form {
    margin: 0 5px;
    .submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .button {
      background: #dbdbdb;
      color: black;
      border: 1px solid #b5b5b5;
      margin: -20px 0 40px 0;
      border-radius: 0;
      padding: 0 40px;
    }
  }
}
