.home-component {
  $break: 800px;
  @mixin medium-bp {
    @media (max-width: #{$break}) {
      @content;
    }
  }
  .main-company-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    // background: #e8e8e87a;
    text-align: center;

    @include medium-bp {
      flex-direction: column-reverse;
    }
    .main-picture {
      width: 50%;

      @include medium-bp {
        width: 100%;
        margin-top: 10px;
      }
    }
    .main-text {
      justify-content: center;
      padding: 10px;
      .subtitle {
        font-weight: bold;
        @include mobile() {
          display: none;
        }
        @include tablet() {
          margin-top: 10px;
        }
      }
      .company-background {
        @include mobile() {
          text-align: left;
          margin-bottom: 15px;
          padding: 10px;
        }
      }
    }
  }
}
