$phone-width-small: 320px;
$phone-width-large: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

.header-component {
  .items {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

    @include mobile() {
      border-bottom: none;
      flex-direction: row;
      justify-content: center;
      justify-content: space-between;
      // justify-content: flex-end;
    }
    @include mobile() {
      .spacer {
        width: 30px;
        margin-left: 20px;
      }
    }
    .menu-burger {
      width: 30px;
      margin-right: 20px;
    }
    .logo {
      max-width: 300px;
      margin-top: 20px;

      @include mobile() {
        max-width: 250px;
        justify-content: center;
      }
    }
    .subtitle {
      color: black;
      text-align: center;

      @include mobile() {
        display: none;
      }
    }
  }
}
