.footer-component {
  .content {
    text-align: center;
  }
  h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  .info {
    .insta-icon,
    .fb-icon {
      padding: 5px;
    }
    h4 {
      margin-bottom: 10px;
    }
    p {
      @include mobile() {
        font-size: 12px;
      }
    }
  }
}
