.footer-component {
   .content {
       display: flex;
       flex-direction: row;
       text-align: center;
   }
   .title {
       text-align: center;
   }
   .info {
       width: 30%;
   }
   .insta-icon, .fb-icon {
       padding: 5px;
   }
   p{
       @include mobile(){
           font-size: 12px;
       }
   }

}