.footer-component {
  .content {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .info {
  .insta-icon,
  .fb-icon {
    padding: 5px;
  }
  p {
    @include mobile() {
      font-size: 12px;
    }
  }
}
}