.testimonials-component {
  margin: 20px 0;
  .carousel-track,
  .carousel-dots {
    background: #f7f7f7f5;
  }
  .content {
    background: #f7f7f7f5;
    padding: 0 10px;
    text-align: center;
    i {
      display: inline-block;
      margin: 10px 0 10px 0;
    }
  }
}
