.testimonials-component {
  margin: 20px 0;
  .carousel-track {
    background: #e8e8e87a;
  }
  .carousel-dots {
    padding: 15px;
    background: #e8e8e87a;
    margin: 0;
  }
  .testimonials-content {
    // background: #e8e8e87a;
    text-align: center;
    .quotes {
      display: inline-block;
      margin: 10px 0 10px 0;
    }
    p {
      margin-top: 15px;
    }
  }
}
