.testimonials-component {
  margin: 20px 0;
  .carousel-track {
    background: grey;
  }
  .carousel-dots {
    padding: 15px;
    background: grey;
    margin: 0;
  }
  .testimonials-content {
    text-align: center;
    .testimonial{
      padding: 10px;
    }
    .quotes {
      display: inline-block;
      margin: 10px;
    }
    p {
      margin-top: 15px;
      color: black;
    }
  }
}
